<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Anish">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link rel="stylesheet" href="CSS/style.css">
    <title>Task Page</title>
</head>

<body>
    <div class="fixed">
        <p class="logo-text">AEMS</p>
        <a th:href="@{/AdminPage}"><img class="home-icon insider" th:src="@{Images/home_icon.png}"
                alt="home" title="Home" width="28" height="28"> </a>
        <a th:href="@{/AdminTaskPage}"><img class="task-icon insider task" th:src="@{Images/task_icon1.png}"
                alt="task-icon" title="Task Page" width="30" height="30"> </a>
        <a th:href="@{/AdminLeavePage}"><img class="leave-icon insider leave" th:src="@{Images/leave_icon.png}"
                alt="leave-icon" title="Leave Page" width="30" height="30"> </a>
    </div>
    <h2>Task Page</h2>

    <footer>
        <p>&copy; 2024 AEMS. All rights reserved.</p>
    </footer>
</body>

</html>