<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This is a page for employees to request leave and receive updates about the same.">
    <link rel="stylesheet" th:href="@{/CSS/UserLeaveRequestPage.css}">
    <title>Leave Requests Page</title>
</head>

<body>
    <div class="fixed">
        <p class="logo-text">AEMS</p>
        <a th:href="@{/UserPage}"><img class="home-icon insider" th:src="@{/Images/home_icon.png}" alt="home"
                title="Home" width="28" height="28"> </a>
        <a th:href="@{/UserTaskPage}"><img class="task-icon insider task" th:src="@{/Images/task_icon1.png}"
                alt="task-icon" title="Task Page" width="30" height="30"> </a>
        <a th:href="@{/UserLeaveRequestPage}"><img class="leave-icon insider leave" th:src="@{/Images/leave_icon.png}"
                alt="leave-icon" title="Leave Page" width="30" height="30"> </a>
    </div>

    <h2>Leave Page</h2>
    <table id="itemTable">
        <thead>
            <tr>
                <th>Leave ID</th>
                <th>Admin Name and ID</th>
                <th>Description</th>
                <th>From Date</th>
                <th>To Date</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="userLeaveRequest : ${userLeaveRequests}">
                <td th:text="${userLeaveRequest.id}"></td>
                <td th:text="${userLeaveRequest.admin.id + ' - ' + userLeaveRequest.admin.fullName}"></td>
                <td th:text="${userLeaveRequest.description}"></td>
                <td th:text="${userLeaveRequest.startDate}"></td>
                <td th:text="${userLeaveRequest.endDate}"></td>
                <td th:text="${(userLeaveRequest.approved == false && userLeaveRequest.rejected == false) ? 'Pending' : (userLeaveRequest.approved == true) ? 'Accepted' : 'Rejected'}"></td>
                <td><a th:href="@{/UserLeaveRequestPage/{id}(id=${userLeaveRequest.getId()})}" class="btn btn-danger">Delete</a></td>
            </tr>
        </tbody>
    </table>
    <button id="addButton" onclick="redirectToLeaveRequestForm()">Request Leave</button>
    <footer>
        <p>&copy; 2024 AEMS. All rights reserved.</p>
    </footer>
    <script>
        function redirectToLeaveRequestForm() {
            window.location.href = "/UserLeaveRequestForm";
        }
    </script>
</body>

</html>
